In [1]:
#supress warning message
import warnings; warnings.simplefilter("ignore")

In [2]:
#import some extension libraries
%matplotlib inline
import matplotlib.pyplot as plt
#import seaborn as sns
import numpy as np
import pandas as pd #import pandas library

In [3]:
superstore = pd.ExcelFile(r'/Users/ishmaelamin/Documents/Northwestern_University/2016_Fall/Predict_480/480_Group_Final_Project/Superstore_Sales_Data.xlsx')

In [4]:
sheet_1 = pd.read_excel(r'/Users/ishmaelamin/Documents/Northwestern_University/2016_Fall/Predict_480/480_Group_Final_Project/Superstore_Sales_Data.xlsx',sheetname=0)

In [5]:
sheet_2 = pd.read_excel(r'/Users/ishmaelamin/Documents/Northwestern_University/2016_Fall/Predict_480/480_Group_Final_Project/Superstore_Sales_Data.xlsx',sheetname=1)

In [6]:
#display worksheet names in the workbook
read_sheets_name = superstore.sheet_names
print(read_sheets_name)

#count sheets in the workbook
print("There are %d sheets in the workbook" % len(read_sheets_name))

['External', 'Internal']
There are 2 sheets in the workbook

In [7]:
#Display the recordsin the first sheet
sheet_1.head()
len(sheet_1)

403

In [8]:
len(sheet_2)

18

In [9]:
sheet_1.ix[:,0:4].head()

   id  Product_Type_ID Order_Date   Price
0   1                1 2009-03-22  152.48
1   2                1 2010-12-22  152.48
2   3                1 2012-10-28  152.48
3   4                1 2012-09-24  152.48
4   5                1 2010-04-20  152.48

In [10]:
#rows=sheet_1.join(sheet_2,how='inner')

ValueError: columns overlap but no suffix specified: Index(['Product_Type_ID'], dtype='object')

In [11]:
#sheet_2.set_index('Product_Type_ID',inplace=True)
sheet_1.head()

,id,Product_Type_ID,Order_Date,Price,Customer_Segment,Product_Category,Product_Sub_Category,Product_Type,Product_Name,Vendor
0,1,1,2009-03-22,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso
1,2,1,2010-12-22,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso
2,3,1,2012-10-28,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso
3,4,1,2012-09-24,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso
4,5,1,2010-04-20,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso

In [12]:
sheet_1[["id","Order_Date"]].head()
#sheet_1[["Product_Type_ID","Price"]].head()

   id Order_Date
0   1 2009-03-22
1   2 2010-12-22
2   3 2012-10-28
3   4 2012-09-24
4   5 2010-04-20

In [13]:
#sheet_1[["id","Order_Date"]].head()
sheet_1.set_index('Product_Type_ID',inplace=True)

In [14]:
type(sheet_1)

pandas.core.frame.DataFrame

In [15]:
sheet_2.set_index('Product_Type_ID',inplace=True)

In [16]:
sheet_2.head()

                Internal_Product_Name  Internal_Cost  Internal_Sale_Price
Product_Type_ID
1                                 CPU             50                  200
2                 Graphics/video card             35                   75
3                            Speakers             15                   25
6                               Wi-Fi             20                   50
7                          Sound card             15                   40

In [70]:
#result = pd.merge(sheet_1, sheet_2, how='left', on=['Product_Type_ID'])
internal = sheet_1.join(sheet_2)

In [71]:
len(internal)

403

In [72]:
len(internal)

403

In [67]:
#internal  = internal.drop

TypeError: object of type 'method' has no len()

In [73]:
internal = internal[["id","Order_Date","Internal_Sale_Price","Customer_Segment","Product_Category","Product_Sub_Category","Product_Type","Internal_Product_Name","Vendor"]]

In [74]:
internal['Business_Type'] = pd.Series('internal', index=internal.index)

In [75]:
internal.head()

,id,Order_Date,Internal_Sale_Price,Customer_Segment,Product_Category,Product_Sub_Category,Product_Type,Internal_Product_Name,Vendor,Business_Type
Product_Type_ID,,,,,,,,,,
1,1,2009-03-22,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,2,2010-12-22,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,3,2012-10-28,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,4,2012-09-24,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,5,2010-04-20,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal

In [76]:
internal.columns = ["id","Order_Date","Price","Customer_Segment","Product_Category","Product_Sub_Category","Product_Type","Product_Name","Vendor","Business_Type"]

In [77]:
internal.ix[0:5,:].head()

,id,Order_Date,Price,Customer_Segment,Product_Category,Product_Sub_Category,Product_Type,Product_Name,Vendor,Business_Type
Product_Type_ID,,,,,,,,,,
1,1,2009-03-22,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,2,2010-12-22,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,3,2012-10-28,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,4,2012-09-24,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,5,2010-04-20,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal

In [78]:
external=sheet_1

In [79]:
# append column to both datasets that distinguish them as either internal or external
external['Business_Type'] = pd.Series('external', index=external.index)
#s = pd.Series('data', index=index)
#import Series as srs

In [80]:
external.head()

,id,Order_Date,Price,Customer_Segment,Product_Category,Product_Sub_Category,Product_Type,Product_Name,Vendor,Business_Type
Product_Type_ID,,,,,,,,,,
1,1,2009-03-22,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
1,2,2010-12-22,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
1,3,2012-10-28,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
1,4,2012-09-24,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
1,5,2010-04-20,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external

In [81]:
internal.head()

,id,Order_Date,Price,Customer_Segment,Product_Category,Product_Sub_Category,Product_Type,Product_Name,Vendor,Business_Type
Product_Type_ID,,,,,,,,,,
1,1,2009-03-22,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,2,2010-12-22,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,3,2012-10-28,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,4,2012-09-24,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal
1,5,2010-04-20,200,Enterprise,Technology,Computer Components,CPU,CPU,Adesso,internal

In [82]:
result = pd.concat([external, internal], ignore_index=True)

In [83]:
len(result)

806

In [84]:
result.head()

,id,Order_Date,Price,Customer_Segment,Product_Category,Product_Sub_Category,Product_Type,Product_Name,Vendor,Business_Type
0,1,2009-03-22,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
1,2,2010-12-22,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
2,3,2012-10-28,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
3,4,2012-09-24,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
4,5,2010-04-20,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external

In [85]:
result = result.drop('id', 1)

In [87]:
result.head()

,Order_Date,Price,Customer_Segment,Product_Category,Product_Sub_Category,Product_Type,Product_Name,Vendor,Business_Type
0,2009-03-22,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
1,2010-12-22,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
2,2012-10-28,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
3,2012-09-24,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external
4,2010-04-20,152.48,Enterprise,Technology,Computer Components,CPU,Adesso CPU,Adesso,external

In [88]:
#export to file .csv
result.to_csv(r'/Users/ishmaelamin/Documents/Northwestern_University/2016_Fall/Predict_480/superstore_businesstypes.csv')